# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Virtual environments
venv/
env/

# Jetbrains
.idea/

# Node
node_modules/

# Tox
.tox

#Pycache
__pycache__
