openapi: "3.0.1"
info:
  title: "dev-badetemperatur-api"
  description: "Api for extracting most recently measured water temperatures in Oslo."
  contact:
    name: "Origo Dataplatform team"
    email: "dataplattform@oslo.kommune.no"
  version: "2019-06-25T14:03:25Z"
servers:
- url: "https://badetemperatur.api.oslo.kommune.no"
paths:
  /temperatures:
    get:
      description: "Returns last recorded temperature measurement for all locations.\
        \ Offers query parameter for filtering locations."
      parameters:
      - name: "location"
        in: "query"
        description: "Identifier for location"
        schema:
          type: "string"
      - name: "sources"
        in: "query"
        description: "Filter for data sources. Comma separated string. Valid values\
          \ are 'manual' and 'sensor'"
        schema:
          type: "string"
      responses:
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Measurements"
    options:
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Credentials:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
components:
  schemas:
    Measurement:
      required:
      - "location"
      - "measureTime"
      - "temperature"
      type: "object"
      properties:
        name:
          type: "string"
        temperature:
          $ref: "#/components/schemas/Temperature"
        location:
          $ref: "#/components/schemas/Location"
        measureTime:
          type: "string"
          format: "date-time"
      additionalProperties: false
      description: "Measurement from a single location."
    Temperature:
      required:
      - "unit"
      - "value"
      type: "object"
      properties:
        unit:
          type: "string"
        value:
          type: "number"
          format: "float"
      additionalProperties: false
      description: "Temperature measurement."
    Measurements:
      type: "array"
      description: "Measurements from all locations."
      items:
        $ref: "#/components/schemas/Measurement"
    ErrorResponse:
      required:
      - "message"
      type: "object"
      properties:
        message:
          type: "string"
      additionalProperties: false
      description: "Standard error response format."
    Location:
      required:
      - "id"
      type: "object"
      properties:
        latitude:
          type: "number"
          format: "float"
        name:
          type: "string"
        id:
          type: "string"
        longitude:
          type: "number"
          format: "float"
      additionalProperties: false
      description: "Location."
